# dependencies
nextron-shadcn-app

# logs
*.log

# next.js
.next
next-env.d.ts

# build
/application_build
dist

# Dependencies
node_modules/

# Environnement
.env
.env.local

# Build
.next/
out/

# Prisma
/prisma/migrations/
/prisma/*.db

# Autres
.DS_Store